main{
    color: rgba(255, 255, 255, 0.504);

    .list-group-item{
        margin: 0.5rem 0;
        border: none;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 208, 0);
        border-radius: 0.5rem;
        font-family: 'Noto Sans Mono', monospace;
    }

    .all{
        text-align: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        color: black;
        background-color: rgb(255, 208, 0);
        border-radius: 0.5rem;
    }

    .late{
        color: red;
    }

    .time{
        color: green;
    }
}